body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212529;

}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: solid #adb5bd underline;
}

.bgHover {
  background-color: #212529;
  color: rgba(255,255,255, 0.5);
}

.bgHover:hover {
  background-color: #0d6efd;
  color: white;
}

.userAvatar {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.code {
  white-space: pre;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 14px;
}

.codeBg {
  background-color: #2d333b;
}

.additionColor {
  color: #57ab5a;
}

.deletionColor {
  color: #f47067;
}

.white70 {
  color: rgba(255,255,255,.7)
}

.additionBg {
  background-color: rgba(70, 149, 74, 0.2);
}

.deletionBg {
  background-color: rgba(51, 41, 47, 1);
}


#headerContainer {
  width: 100%;
  font-size: 30px; 
  background-color: #2d333b;
  padding: 20px;
}

#headerContainer a {
  color: #539bf5;
}


#headerContainer a:hover {
  color: #539bf5;
  text-decoration: solid #539bf5 underline;
}

@media (max-width: 960px) {
  .additionBg {
    background-color: transparent;
  }
  .deletionBg {
    background-color: transparent;
  }
  .overFlow {
    overflow-x: scroll;
  }
   
  .overFlow::-webkit-scrollbar {
    color: white;
    background-color: rgb(63, 62, 62);
  } 
  .overFlow::-webkit-scrollbar {
    height: 12px;
  }

  .overFlow::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #2d333b;
    border: 1px solid rgba(255,255,255, 0.2);
    box-shadow: inset 0 0 3px rgba(90,90,90,0.7);
    -webkit-box-shadow: inset 0 0 3px rgba(90,90,90,0.7);
  }
}

@media (max-width: 600px) {
  #headerContainer {
    font-size: 22px; 
    flex-flow:wrap;
  }
}

@media (max-width: 330px) {
  .displayNone  {
    display: none;
  } 
}
